.about {
  position: relative;
  padding: 40px;
}

.about-content {
  background-color: lighten(green, 20%);

  float: left;
  width: 400px;
}

.about-illustrations {
  background-color: lighten(green, 20%);
  
  margin-left: 440px;
}
