.connect {
  padding: 40px 40px 40px 120px;
  @extend %clearfix;
  background-color: $color-white;
}

.connect-form,
.connect-info,
.connect-map {
  float: left;
}

.connect-illustrations {
  clear: left;
  float: right;
}

.connect-form {
  background-color: red;

  margin-right: 40px;
  width: 320px;

  .fields.inline {

    .field {
      width: 155px;
    }

  }
  
}

.connect-info {
  width: 220px;
  margin-right: 20px;
}

.connect-map {
  background-color: red;

  width: 260px;
  height: 350px;
}

.connect-illustrations {
  margin-left: 20px;
  width: 500px;
}
