.project {
  background-color: #009900;

  position: absolute;
  top: 120px;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 400px;
  @extend %clearfix;
}

.project_illustrations {
  background-color: lighten(blue, 40%);

  position: absolute;
  top: 0;
  bottom: 0;
  left: 120px;
  right: 0;

  .illustration {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .actions {
    position: absolute;
    left: -80px;
    bottom: 0;
    width: 40px;
    z-index: 1002;
  }
}

.additional_illustrations {
  display: none;
}

.project_details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  padding: 40px 20px 0;
  width: 120px;
  background-color: $color-white;

  dl {
    margin-bottom: 20px;
    background-color: $color-white;
    font-size: em(10);
    line-height: em(12);
    text-align: center;
  }

  dt, dd {
    display: block;
  }

  dt {
    font-weight: bold;
  }

  dd + dt {
    margin-top: em(12);
  }

  .actions {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.project-description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -360px;
  width: 360px;
  background-color: white;
  @include prefix(transition, left 0.5s);

  &.open {
    left: 120px;
  }

  .exit {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
  }

  article {
    position: absolute;
    top: 40px;
    bottom: 40px;
    left: 0;
    right: 0;
    padding-right: 40px;
    overflow: auto;

    h4, p {
      font-size: em(14, 10);
      line-height: em(16, 14);
    }

    p + p,
    p + h4 {
      margin-top: em(8, 14);
    }
  }
}


@media only screen and (min-width: 481px) and (max-device-width: 1024px) {

}

@media only screen and (max-width: 480px) {

  .project,
  .project_illustrations,
  .project_illustrations .illustration,
  .project_details,
  .project-description,
  .project-description article {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
  }

  .project {
    padding: 20px;
    height: auto;
  }

  .project_illustrations {
    margin-bottom: 20px;

    .illustration {
      width: 100%;
    }
  }

  .additional_illustrations {
    display: block;

    .illustration {
      background-color: rgba( 204, 153, 204, 0.5);

      width: 100%;

      & + .illustration {
        margin-top: 20px;
      }
    }

    .actions {
      display: none;
    }

  }

  .project_details {
    float: left;
    margin-bottom: 20px;
    padding: 0;
    width: 60px;

    dl {
      text-align: left;
    }

    .actions {
      display: none;
    }
  }

  .project-description {
    margin-left: 80px;
    margin-bottom: 20px;
    width: auto;

    &.open {
      left: auto;
    }

    .exit {
      display: none;
    }

    article {
      padding: 0;
      
      h4, p {
        font-size: em(10, 10);
        line-height: em(12, 10);
      }

      p + p,
      p + h4 {
        margin-top: em(6, 10);
      }
    }
  }
}
