.studio {
  position: relative;
  padding: 40px 40px 40px 120px;
  @extend %clearfix;
  background-color: $color-white;
}

.studio-content {
  float: left;
  width: 400px;
}

.studio-illustrations {
  margin-left: 440px;
}

.studio-people {
  margin-top: 30px;
  margin-left: 440px;
  @extend %clearfix;

  p {
    font-size: em(10, 10);
    line-height: em(12, 10);
  }
  .person > a {
    display: block;
    background-color: $color-orange;

    img {
      opacity: 0.5;
      @include prefix(transition, opacity 0.5s);

      &:hover {
        opacity: 1;
      }
    }
  }

  .name {
    font-weight: bold;

    .degree {
      font-weight: normal;
    }
  }
}


@media only screen and (min-width: 481px) and (max-width: 1024px) {

}

@media only screen and (max-width: 480px) {

  .studio {
    padding: 20px;
  }

  .studio-content {
    float: none;
    width: auto;
  }

  .studio-illustrations {
    margin: 20px 0 0;
  }

  .studio-people {
    margin: 20px 0 0;
  }

}
