h3 {
  font-weight: bold;
  font-size: em(14, 10);
  line-height: em(16, 14);
}

h4 {
  font-weight: bold;
  font-size: em(10);
  line-height: em(12, 10);
}

.actions {

  .action {
    margin: 0 auto;
    width: 40px;
    height: 40px;

    a, span {
      display: block;
      width: 40px;
      height: 40px;
      background-color: transparent;
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      font-size: em(10);
      line-height: 40px;
      text-align: center;
    }

    &.previous span,
    &.previous a,
    &.next span,
    &.next a,
    &.info span,
    &.info a,
    &.share span,
    &.share a,
    &.exit span,
    &.exit a {
      @include text-replace;
      cursor: pointer;
    }

    &.previous span,
    &.previous a {
      background-image: image( 'action-previous.png' );
      background-image: -webkit-image-set( image( 'action-previous.png' ) 1x, image( 'action-previous.svg' ) 2x );

      &:hover, &.active {
        background-image: image( 'action-previous-active.png' );
        background-image: -webkit-image-set( image( 'action-previous-active.png' ) 1x, image( 'action-previous-active.svg' ) 2x );
      }
    }
    
    &.next span,
    &.next a {
      background-image: image( 'action-next.png' );
      background-image: -webkit-image-set( image( 'action-next.png' ) 1x, image( 'action-next.svg' ) 2x );

      &:hover, &.active {
        background-image: image( 'action-next-active.png' );
        background-image: -webkit-image-set( image( 'action-next-active.png' ) 1x, image( 'action-next-active.svg' ) 2x );
      }
    }

    &.next.inverse span,
    &.next.inverse a {
      background-image: image( 'action-next-white.png' );
      background-image: -webkit-image-set( image( 'action-next-white.png' ) 1x, image( 'action-next-white.svg' ) 2x );
    }
    
    &.info span,
    &.info a {
      background-image: image( 'action-info.png' );
      background-image: -webkit-image-set( image( 'action-info.png' ) 1x, image( 'action-info.svg' ) 2x );

      &:hover, &.active {
        background-image: image( 'action-info-active.png' );
        background-image: -webkit-image-set( image( 'action-info-active.png' ) 1x, image( 'action-info-active.svg' ) 2x );
      }
    }
    
    &.info.inverse span,
    &.info.inverse a {
      background-image: image( 'action-info-white.png' );
      background-image: -webkit-image-set( image( 'action-info-white.png' ) 1x, image( 'action-info-white.svg' ) 2x );
    }
    
    &.share {
      span, a {
        background-image: image( 'action-share.png' );
        background-image: -webkit-image-set( image( 'action-share.png' ) 1x, image( 'action-share.svg' ) 2x );

        &:hover, &.active {
          background-image: image( 'action-share-active.png' );
          background-image: -webkit-image-set( image( 'action-share-active.png' ) 1x, image( 'action-share-active.svg' ) 2x );
        }
      }

      &.facebook {
        span, a {
          background-image: image( 'share-facebook.png' );
          background-image: -webkit-image-set( image( 'share-facebook.png' ) 1x, image( 'share-facebook.svg' ) 2x );

          &:hover, &.active {
            background-image: image( 'share-facebook-active.png' );
            background-image: -webkit-image-set( image( 'share-facebook-active.png' ) 1x, image( 'share-facebook-active.svg' ) 2x );
          }
        }
      }

      &.twitter {
        span, a {
          background-image: image( 'share-twitter.png' );
          background-image: -webkit-image-set( image( 'share-twitter.png' ) 1x, image( 'share-twitter.svg' ) 2x );

          &:hover, &.active {
            background-image: image( 'share-twitter-active.png' );
            background-image: -webkit-image-set( image( 'share-twitter-active.png' ) 1x, image( 'share-twitter-active.svg' ) 2x );
          }
        }
      }

      &.email {
        span, a {
          background-image: image( 'share-email.png' );
          background-image: -webkit-image-set( image( 'share-email.png' ) 1x, image( 'share-email.svg' ) 2x );

          &:hover, &.active {
            background-image: image( 'share-email-active.png' );
            background-image: -webkit-image-set( image( 'share-email-active.png' ) 1x, image( 'share-email-active.svg' ) 2x );
          }
        }
      }

    }
    
    &.exit {
      span, a {
        background-image: image( 'action-exit.png' );
        background-image: -webkit-image-set( image( 'action-exit.png' ) 1x, image( 'action-exit.svg' ) 2x );

        &:hover, &:active {
          background-image: image( 'action-exit-active.png' );
          background-image: -webkit-image-set( image( 'action-exit-active.png' ) 1x, image( 'action-exit-active.svg' ) 2x );
        }
      }
    }

  }
}

figure.thumbnail {
  background-color: white;

  position: relative;
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 160px;
  height: 220px;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
  }
  
  figcaption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    font-size: em(10);
    line-height: em(12, 10);
  }
}

@media only screen and (min-width: 481px) and (max-device-width: 1024px) {

  .actions {

    .action {
      width: 30px;
      height: 30px;

      a {
        width: 30px;
        height: 30px;
      }
    }

  }

}

@media only screen and (max-width: 480px) {

  figure.thumbnail {
    width: 135px;
  }

}
