h3 {
  font-weight: bold;
  font-size: em(14, 10);
  line-height: em(16, 14);
}

h4 {
  font-weight: bold;
  font-size: em(10, 10);
  line-height: em(12, 10);
}

.fields {

  &.inline {
    @extend %clearfix;

    .field {
      float: left;

      & + .field {
        margin-left: 10px;
      }

    }

  }

  .field {
    margin-bottom: 10px;
    
    input[type="text"],
    textarea,
    button {
      padding: 12px 15px 9px;
      font-size: em(13, 10);
      line-height: em(15, 13);
    }
    
    input[type="text"],
    textarea {
      width: 100%;
      border: 1px solid $color-gray-lightish;
    }

    button {
      border: none;
      background-color: $color-orange;
      color: $color-white;
    }

  }

}

.content {

  header {
    margin-bottom: em(8, 14);
  }

  figure {
    margin: 20px 0;

    img {
      display: block;
      width: 100%;
    }
  }

  header + figure {
    margin-top: 12px;
  }

  h4, p, ul {
    font-size: em(14, 10);
    line-height: em(16, 14);
  }

  p.dateline {
    margin-top: em(8, 10);
    font-size: em(10, 10);
    line-height: em(12, 10);
  }
  
  p + p {
    margin-top: em(8, 14);
  }

  ul + p,
  p + ul {
    margin-top: em(16, 14);
  }

  li {
    margin-top: em(4, 14);
    padding-top: em(4, 14);
    border-top: 1px solid $color-gray-light;
  }

}

.actions {

  .action {
    margin: 0 auto;
    width: 40px;
    height: 40px;

    a, span {
      display: block;
      width: 40px;
      height: 40px;
      background-color: transparent;
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      font-size: em(10);
      line-height: 40px;
      text-align: center;
    }

    &.previous span,
    &.previous a,
    &.next span,
    &.next a,
    &.info span,
    &.info a,
    &.share span,
    &.share a,
    &.exit span,
    &.exit a {
      @include text-replace;
      cursor: pointer;
    }

    
    &.previous {
      span, a {
        background-image: image( 'action-previous.png' );
        background-image: -webkit-image-set( image( 'action-previous.png' ) 1x, image( 'action-previous.svg' ) 2x );

        &:hover, &:active {
          background-image: image( 'action-previous-active.png' );
          background-image: -webkit-image-set( image( 'action-previous-active.png' ) 1x, image( 'action-previous-active.svg' ) 2x );
        }
      }
    }

    &.next {
      span, a {
        background-image: image( 'action-next.png' );
        background-image: -webkit-image-set( image( 'action-next.png' ) 1x, image( 'action-next.svg' ) 2x );

        &:hover, &:active {
          background-image: image( 'action-next-active.png' );
          background-image: -webkit-image-set( image( 'action-next-active.png' ) 1x, image( 'action-next-active.svg' ) 2x );
        }
      }
    }

    &.next.inverse {
      span, a {
        background-image: image( 'action-next-white.png' );
        background-image: -webkit-image-set( image( 'action-next-white.png' ) 1x, image( 'action-next-white.svg' ) 2x );
      }
    }
    
    &.info {
      span, a {
        background-image: image( 'action-info.png' );
        background-image: -webkit-image-set( image( 'action-info.png' ) 1x, image( 'action-info.svg' ) 2x );

        &:hover, &:active {
          background-image: image( 'action-info-active.png' );
          background-image: -webkit-image-set( image( 'action-info-active.png' ) 1x, image( 'action-info-active.svg' ) 2x );
        }
      }
    }
    
    &.info.inverse {
     span, a {
        background-image: image( 'action-info-white.png' );
        background-image: -webkit-image-set( image( 'action-info-white.png' ) 1x, image( 'action-info-white.svg' ) 2x );
      }
    }
    
    &.share {
      span, a {
        background-color: $color-gray;
        background-image: image( 'action-share.png' );
        background-image: -webkit-image-set( image( 'action-share.png' ) 1x, image( 'action-share.svg' ) 2x );

        &:hover, &.active {
          background-color: $color-orange;
          background-image: image( 'action-share-active.png' );
          background-image: -webkit-image-set( image( 'action-share-active.png' ) 1x, image( 'action-share-active.svg' ) 2x );
        }
      }

      &.facebook {
        span, a {
          background-image: image( 'share/facebook.png' );
          background-image: -webkit-image-set( image( 'share/facebook.png' ) 1x, image( 'share/facebook.svg' ) 2x );
        }

        &.inverse {
          span, a {
            background-image: image( 'share/facebook-inverse.png' );
            background-image: -webkit-image-set( image( 'share/facebook-inverse.png' ) 1x, image( 'share/facebook-inverse.svg' ) 2x );
          }
        }
      }

      &.linkedin {
        span, a {
          background-image: image( 'share/linkedin.png' );
          background-image: -webkit-image-set( image( 'share/linkedin.png' ) 1x, image( 'share/linkedin.svg' ) 2x );
        }

        &.inverse {
          span, a {
            background-image: image( 'share/linkedin-inverse.png' );
            background-image: -webkit-image-set( image( 'share/linkedin-inverse.png' ) 1x, image( 'share/linkedin-inverse.svg' ) 2x );
          }
        }
      }

      &.twitter {
        span, a {
          background-image: image( 'share/twitter.png' );
          background-image: -webkit-image-set( image( 'share/twitter.png' ) 1x, image( 'share/twitter.svg' ) 2x );
        }

        &.inverse {
          span, a {
            background-image: image( 'share/twitter-inverse.png' );
            background-image: -webkit-image-set( image( 'share/twitter-inverse.png' ) 1x, image( 'share/twitter-inverse.svg' ) 2x );
          }
        }
      }

      &.email {
        span, a {
          background-image: image( 'share-email.png' );
          background-image: -webkit-image-set( image( 'share-email.png' ) 1x, image( 'share-email.svg' ) 2x );

          &:hover, &.active {
            background-image: image( 'share-email-active.png' );
            background-image: -webkit-image-set( image( 'share-email-active.png' ) 1x, image( 'share-email-active.svg' ) 2x );
          }
        }
      }

    }
    
    &.exit {
      span, a {
        background-image: image( 'action-exit.png' );
        background-image: -webkit-image-set( image( 'action-exit.png' ) 1x, image( 'action-exit.svg' ) 2x );

        &:hover, &:active {
          background-image: image( 'action-exit-active.png' );
          background-image: -webkit-image-set( image( 'action-exit-active.png' ) 1x, image( 'action-exit-active.svg' ) 2x );
        }
      }
    }

  }
}

figure.thumbnail {
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 160px;
  height: 220px;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
  }
  
  figcaption {
    margin-top: 10px;
    font-size: em(10);
    line-height: em(12, 10);
  }
}

.slides {
  @include prefix(transition, padding 0.5s);

  &.active {
    padding-bottom: 40px;
  }
  
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {

  .actions {

    .action {
      width: 30px;
      height: 30px;

      a {
        width: 30px;
        height: 30px;
      }
    }

  }

  .slides {
    &.active {
      padding-bottom: 30px;
    }
  }

}

@media only screen and (max-width: 480px) {

  figure.thumbnail {
    width: 135px;
  }

}
