/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  line-height: 1;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

:focus {
  outline: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.fields.inline:before, .featured_projects:before, .featured_project .featured_project-description:before, .portfolio-projects:before, .project:before, .studio:before, .studio-people:before, .news:before, .connect:before, .connect-info .connect-with-us ul:before, .fields.inline:after, .featured_projects:after, .featured_project .featured_project-description:after, .portfolio-projects:after, .project:after, .studio:after, .studio-people:after, .news:after, .connect:after, .connect-info .connect-with-us ul:after {
  content: " ";
  display: table; }
.fields.inline:after, .featured_projects:after, .featured_project .featured_project-description:after, .portfolio-projects:after, .project:after, .studio:after, .studio-people:after, .news:after, .connect:after, .connect-info .connect-with-us ul:after {
  clear: both; }

html, body {
  height: 100%; }

html {
  font-size: 10px; }

body {
  background-color: whitesmoke;
  color: #717073;
  font-family: "Graphik", Helvetica, Arial, sans-serif;
  font-size: 100%; }

a {
  color: black;
  text-decoration: none; }
  a:visited {
    color: black; }
  a:hover {
    color: black; }
  a:active {
    color: black; }

.screen {
  position: relative;
  height: 100%; }

::-webkit-input-placeholder {
  color: black; }

:-moz-placeholder {
  /* Firefox 18- */
  color: black; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: black; }

:-ms-input-placeholder {
  color: black; }

h3 {
  font-weight: bold;
  font-size: 1.4em;
  line-height: 1.14286em; }

h4 {
  font-weight: bold;
  font-size: 1em;
  line-height: 1.2em; }

.fields.inline .field {
  float: left; }
  .fields.inline .field + .field {
    margin-left: 10px; }
.fields .field {
  margin-bottom: 10px; }
  .fields .field input[type="text"],
  .fields .field textarea,
  .fields .field button {
    padding: 12px 15px 9px;
    font-size: 1.3em;
    line-height: 1.15385em; }
  .fields .field input[type="text"],
  .fields .field textarea {
    width: 100%;
    border: 1px solid #c4c5c7; }
  .fields .field button {
    border: none;
    background-color: #f37321;
    color: white; }

.content header {
  margin-bottom: 0.57143em; }
.content figure {
  margin: 20px 0; }
  .content figure img {
    display: block;
    width: 100%; }
.content header + figure {
  margin-top: 12px; }
.content h4, .content p, .content ul {
  font-size: 1.4em;
  line-height: 1.14286em; }
.content p.dateline {
  margin-top: 0.8em;
  font-size: 1em;
  line-height: 1.2em; }
.content p + p {
  margin-top: 0.57143em; }
.content ul + p,
.content p + ul {
  margin-top: 1.14286em; }
.content li {
  margin-top: 0.28571em;
  padding-top: 0.28571em;
  border-top: 1px solid whitesmoke; }

.actions .action {
  margin: 0 auto;
  width: 40px;
  height: 40px; }
  .actions .action a, .actions .action span {
    display: block;
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 1em;
    line-height: 40px;
    text-align: center; }
  .actions .action.previous span, .actions .action.previous a, .actions .action.next span, .actions .action.next a, .actions .action.info span, .actions .action.info a, .actions .action.share span, .actions .action.share a, .actions .action.exit span, .actions .action.exit a {
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
    background-color: #717073;
    cursor: pointer; }
    .actions .action.previous span:hover, .actions .action.previous span.active, .actions .action.previous a:hover, .actions .action.previous a.active, .actions .action.next span:hover, .actions .action.next span.active, .actions .action.next a:hover, .actions .action.next a.active, .actions .action.info span:hover, .actions .action.info span.active, .actions .action.info a:hover, .actions .action.info a.active, .actions .action.share span:hover, .actions .action.share span.active, .actions .action.share a:hover, .actions .action.share a.active, .actions .action.exit span:hover, .actions .action.exit span.active, .actions .action.exit a:hover, .actions .action.exit a.active {
      background-color: #f37321; }
  .actions .action.previous span, .actions .action.previous a {
    background-image: url("../images/interface/actions/previous.png");
    background-image: -webkit-image-set(url("../images/interface/actions/previous.png") 1x, url("../images/interface/actions/previous.svg") 2x); }
  .actions .action.previous.inverse span, .actions .action.previous.inverse a {
    background-image: url("../images/interface/actions/previous-inverse.png");
    background-image: -webkit-image-set(url("../images/interface/actions/previous-inverse.png") 1x, url("../images/interface/actions/previous-inverse.svg") 2x); }
  .actions .action.next span, .actions .action.next a {
    background-image: url("../images/interface/actions/next.png");
    background-image: -webkit-image-set(url("../images/interface/actions/next.png") 1x, url("../images/interface/actions/next.svg") 2x); }
  .actions .action.next.inverse span, .actions .action.next.inverse a {
    background-image: url("../images/interface/actions/next-inverse.png");
    background-image: -webkit-image-set(url("../images/interface/actions/next-inverse.png") 1x, url("../images/interface/actions/next-inverse.svg") 2x); }
  .actions .action.info span, .actions .action.info a {
    background-image: url("../images/interface/actions/info.png");
    background-image: -webkit-image-set(url("../images/interface/actions/info.png") 1x, url("../images/interface/actions/info.svg") 2x); }
  .actions .action.info.inverse span, .actions .action.info.inverse a {
    background-image: url("../images/interface/actions/info-inverse.png");
    background-image: -webkit-image-set(url("../images/interface/actions/info-inverse.png") 1x, url("../images/interface/actions/info-inverse.svg") 2x); }
  .actions .action.info.inverse span, .actions .action.info.inverse a {
    background-image: url("../images/interface/action-info-white.png");
    background-image: -webkit-image-set(url("../images/interface/action-info-white.png") 1x, url("../images/interface/action-info-white.svg") 2x); }
  .actions .action.share span, .actions .action.share a {
    background-image: url("../images/interface/actions/share.png");
    background-image: -webkit-image-set(url("../images/interface/actions/share.png") 1x, url("../images/interface/actions/share.svg") 2x); }
  .actions .action.share.inverse span, .actions .action.share.inverse a {
    background-image: url("../images/interface/actions/share-inverse.png");
    background-image: -webkit-image-set(url("../images/interface/actions/share-inverse.png") 1x, url("../images/interface/actions/share-inverse.svg") 2x); }
  .actions .action.share.facebook span, .actions .action.share.facebook a {
    background-image: url("../images/interface/actions/facebook.png");
    background-image: -webkit-image-set(url("../images/interface/actions/facebook.png") 1x, url("../images/interface/actions/facebook.svg") 2x); }
  .actions .action.share.facebook.inverse span, .actions .action.share.facebook.inverse a {
    background-image: url("../images/interface/actions/facebook-inverse.png");
    background-image: -webkit-image-set(url("../images/interface/actions/facebook-inverse.png") 1x, url("../images/interface/actions/facebook-inverse.svg") 2x); }
  .actions .action.share.linkedin span, .actions .action.share.linkedin a {
    background-image: url("../images/interface/actions/linkedin.png");
    background-image: -webkit-image-set(url("../images/interface/actions/linkedin.png") 1x, url("../images/interface/actions/linkedin.svg") 2x); }
  .actions .action.share.linkedin.inverse span, .actions .action.share.linkedin.inverse a {
    background-image: url("../images/interface/actions/linkedin-inverse.png");
    background-image: -webkit-image-set(url("../images/interface/actions/linkedin-inverse.png") 1x, url("../images/interface/actions/linkedin-inverse.svg") 2x); }
  .actions .action.share.twitter span, .actions .action.share.twitter a {
    background-image: url("../images/interface/actions/twitter.png");
    background-image: -webkit-image-set(url("../images/interface/actions/twitter.png") 1x, url("../images/interface/actions/twitter.svg") 2x); }
  .actions .action.share.twitter.inverse span, .actions .action.share.twitter.inverse a {
    background-image: url("../images/interface/actions/twitter-inverse.png");
    background-image: -webkit-image-set(url("../images/interface/actions/twitter-inverse.png") 1x, url("../images/interface/actions/twitter-inverse.svg") 2x); }
  .actions .action.share.email span, .actions .action.share.email a {
    background-image: url("../images/interface/actions/email.png");
    background-image: -webkit-image-set(url("../images/interface/actions/email.png") 1x, url("../images/interface/actions/email.svg") 2x); }
  .actions .action.share.email.inverse span, .actions .action.share.email.inverse a {
    background-image: url("../images/interface/actions/email-inverse.png");
    background-image: -webkit-image-set(url("../images/interface/actions/email-inverse.png") 1x, url("../images/interface/actions/email-inverse.svg") 2x); }
  .actions .action.dropdown span, .actions .action.dropdown a {
    background-image: url("../images/interface/actions/dropdown.png");
    background-image: -webkit-image-set(url("../images/interface/actions/dropdown.png") 1x, url("../images/interface/actions/dropdown.svg") 2x); }
  .actions .action.dropdown.inverse span, .actions .action.dropdown.inverse a {
    background-image: url("../images/interface/actions/dropdown-inverse.png");
    background-image: -webkit-image-set(url("../images/interface/actions/dropdown-inverse.png") 1x, url("../images/interface/actions/dropdown-inverse.svg") 2x); }
  .actions .action.exit span, .actions .action.exit a {
    background-image: url("../images/interface/actions/exit.png");
    background-image: -webkit-image-set(url("../images/interface/actions/exit.png") 1x, url("../images/interface/actions/exit.svg") 2x); }
  .actions .action.exit.inverse span, .actions .action.exit.inverse a {
    background-image: url("../images/interface/actions/exit-inverse.png");
    background-image: -webkit-image-set(url("../images/interface/actions/exit-inverse.png") 1x, url("../images/interface/actions/exit-inverse.svg") 2x); }

figure.thumbnail {
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 160px;
  height: 220px;
  overflow: hidden; }
  figure.thumbnail img {
    display: block;
    width: 100%; }
  figure.thumbnail figcaption {
    margin-top: 10px;
    font-size: 1em;
    line-height: 1.2em; }

.slides {
  -webkit-transition: padding 0.5s;
  -moz-transition: padding 0.5s;
  -o-transition: padding 0.5s;
  transition: padding 0.5s; }
  .slides.active {
    padding-bottom: 40px; }

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .actions .action {
    width: 30px;
    height: 30px; }
    .actions .action a {
      width: 30px;
      height: 30px; }

  .slides.active {
    padding-bottom: 30px; } }
@media only screen and (max-width: 480px) {
  figure.thumbnail {
    width: 135px; } }
.masthead {
  position: relative;
  z-index: 1000;
  height: 120px;
  border-bottom: 1px solid #717073;
  background-color: white;
  /* the HORN logo */ }
  .masthead h1, .masthead h2, .masthead nav.global {
    float: left; }
  .masthead nav.project_list {
    float: right; }
  .masthead h1 {
    padding: 40px;
    width: 120px;
    height: 120px; }
    .masthead h1 a {
      display: block;
      width: 40px;
      height: 40px;
      text-indent: 110%;
      white-space: nowrap;
      overflow: hidden;
      background: transparent url("../images/interface/horn.png") 0 0 no-repeat;
      background-image: -webkit-image-set(url("../images/interface/horn.png") 1x, url("../images/interface/horn.svg") 2x);
      background-size: cover; }
  .masthead h2 {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 180px;
    height: 120px;
    font-size: 1.4em;
    line-height: 40px; }

nav.global {
  padding-top: 40px;
  height: 120px;
  font-size: 1em;
  line-height: 1.4em; }
  nav.global h3 {
    display: none;
    color: black;
    font-weight: normal;
    font-size: 1em;
    line-height: 20px;
    text-transform: uppercase; }
  nav.global a:link, nav.global a:visited {
    color: #717073; }
  nav.global a:hover, nav.global a:active {
    color: black; }
  nav.global dl {
    height: 40px; }
    nav.global dl dt {
      display: none; }
    nav.global dl dd {
      position: relative;
      float: left;
      margin-right: 10px;
      height: 40px;
      background-color: white;
      text-transform: uppercase; }
      nav.global dl dd a {
        display: block; }
      nav.global dl dd > a {
        padding-top: 14px;
        padding-bottom: 14px; }
      nav.global dl dd ul {
        display: none;
        position: absolute;
        top: 30px;
        left: -20px;
        padding: 16px 20px;
        background-color: white;
        z-index: 1000; }
        nav.global dl dd ul a {
          line-height: 1.4em; }
      nav.global dl dd:hover > ul, nav.global dl dd:focus > ul {
        display: block; }

nav.project_list {
  position: relative;
  z-index: 1000;
  margin-right: 20px;
  padding: 40px 20px 20px;
  width: 300px;
  background-color: white; }
  nav.project_list ul {
    display: none; }
  nav.project_list h3 {
    height: 40px;
    color: #f37321;
    font-size: 1.4em;
    line-height: 40px; }

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  nav.project_list {
    display: none; } }
@media only screen and (max-width: 480px) {
  .masthead {
    padding-top: 40px;
    height: 120px; }
    .masthead h1, .masthead h2 {
      height: 80px; }
    .masthead h1 {
      padding: 20px;
      width: 80px; }
    .masthead h2 {
      padding: 20px 0; }

  nav.global {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    float: none;
    padding: 0;
    width: 100%;
    height: 40px;
    background-color: whitesmoke; }
    nav.global h3 {
      display: block;
      float: left;
      padding: 10px 20px; }
    nav.global dl {
      background-color: whitesmoke; }
      nav.global dl dt {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        overflow: hidden;
        background-color: #717073;
        text-indent: 110%;
        white-space: nowrap;
        overflow: hidden;
        cursor: pointer; }
      nav.global dl dd {
        display: none;
        float: none;
        margin-right: 40px;
        height: auto;
        background-color: transparent; }
        nav.global dl dd + dd {
          margin-top: 14px; }
        nav.global dl dd > a {
          padding: 0;
          font-weight: bold;
          line-height: 1.4em; }
        nav.global dl dd ul {
          display: block;
          position: relative;
          top: 0;
          left: 0;
          padding: 0;
          background-color: transparent; }
        nav.global dl dd li {
          margin-top: 7px; }
      nav.global dl.open {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 20px;
        height: auto; }
        nav.global dl.open dd {
          display: block; }

  nav.project_list {
    display: none; } }
main {
  position: relative;
  z-index: 999; }
  .screen.fixed main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 120px; }

@media only screen and (max-width: 480px) {
  .screen.fixed main {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    padding-top: 0; } }
.features {
  background-color: #b3b3b3; }

.featured_project-illustrations {
  background-color: #e6e6e6;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 120px;
  right: 0;
  min-height: 600px; }
  .featured_project-illustrations .illustration {
    background-color: #ccccff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden; }
    .featured_project-illustrations .illustration img {
      display: block;
      width: 100%; }

.featured_projects {
  background-color: #e6ffe6;
  width: 120px; }

.featured_project {
  background-color: #ff6666;
  position: relative;
  margin-right: 1px;
  width: 119px;
  height: 119px;
  overflow: hidden;
  -webkit-transition: width 0.5s, background-color 0.125s;
  -moz-transition: width 0.5s, background-color 0.125s;
  -o-transition: width 0.5s, background-color 0.125s;
  transition: width 0.5s, background-color 0.125s; }
  .featured_project + .featured_project {
    margin-top: 1px; }
  .featured_project img {
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1000; }
  .featured_project figcaption {
    opacity: 0;
    position: relative;
    z-index: 1001;
    height: 119px;
    background-color: #f37321;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s; }
  .featured_project .featured_project-description {
    position: relative;
    padding: 10px;
    width: 360px;
    z-index: 1001;
    color: white; }
    .featured_project .featured_project-description h3 {
      float: left;
      width: 100px;
      cursor: default; }
    .featured_project .featured_project-description p {
      float: right;
      width: 230px;
      font-size: 1em;
      line-height: 1.2em; }
  .featured_project .actions {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 120px;
    z-index: 1002; }
    .featured_project .actions .action {
      float: right; }
      .featured_project .actions .action:first-child {
        float: left; }
      .featured_project .actions .action span {
        cursor: pointer; }
  .featured_project:hover, .featured_project.open {
    background-color: red; }
    .featured_project:hover figcaption, .featured_project.open figcaption {
      opacity: 1; }
  .featured_project.open {
    width: 360px; }

@media only screen and (max-width: 480px) {
  .featured_project-illustrations,
  .featured_project-illustrations .illustration,
  .featured_projects {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto; }

  .featured_project-illustrations {
    min-height: 1px; }
    .featured_project-illustrations .illustration {
      width: 100%; }
      .featured_project-illustrations .illustration img {
        height: 100%; }

  .featured_projects {
    width: 100%;
    height: 79px; }

  .featured_project {
    float: left;
    margin-top: 1px;
    width: 79px;
    height: 79px; }
    .featured_project figcaption {
      width: 79px;
      height: 79px; }
    .featured_project .actions .action.info {
      display: none; }
    .featured_project .featured_project-description {
      width: auto;
      padding: 6px; }
      .featured_project .featured_project-description h3 {
        float: none;
        width: auto;
        font-weight: normal;
        font-size: 1em;
        line-height: 1.2em; }
      .featured_project .featured_project-description p {
        display: none; }
    .featured_project.open {
      width: 79px; } }
.portfolio {
  padding: 40px 120px; }

.portfolio-category + .portfolio-category {
  margin-top: 15px; }
.portfolio-category header {
  border-top: 2px solid white; }
  .portfolio-category header h3 {
    margin-bottom: 0.85714em;
    padding-top: 0.85714em; }

@media only screen and (max-width: 480px) {
  .portfolio {
    padding: 20px 10px 20px 20px; } }
.project {
  position: absolute;
  top: 120px;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 400px; }

.project-illustrations {
  background-color: #ccccff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 120px;
  right: 0; }
  .project-illustrations .illustration {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .project-illustrations .actions {
    position: absolute;
    left: -80px;
    bottom: 0;
    width: 40px;
    z-index: 1002; }

.additional_illustrations {
  display: none; }

.project-details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  padding: 40px 20px 0;
  width: 120px;
  background-color: white; }
  .project-details dl {
    margin-bottom: 20px;
    font-size: 1em;
    line-height: 1.2em;
    text-align: center; }
  .project-details dt, .project-details dd {
    display: block; }
  .project-details dt {
    font-weight: bold; }
  .project-details dd + dt {
    margin-top: 1.2em; }
  .project-details .actions {
    padding-left: 20px;
    padding-right: 20px; }

.project-description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -360px;
  width: 360px;
  background-color: white;
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  -o-transition: left 0.5s;
  transition: left 0.5s; }
  .project-description.open {
    left: 120px; }
  .project-description .exit {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px; }
  .project-description article {
    position: absolute;
    top: 40px;
    bottom: 40px;
    left: 0;
    right: 0;
    padding-right: 40px;
    overflow: auto; }
    .project-description article h4, .project-description article p {
      font-size: 1.4em;
      line-height: 1.14286em; }
    .project-description article p + p,
    .project-description article p + h4 {
      margin-top: 0.57143em; }

@media only screen and (max-width: 480px) {
  .project,
  .project-illustrations,
  .project-illustrations .illustration,
  .project-details,
  .project-description,
  .project-description article {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto; }

  .project {
    padding: 20px;
    height: auto; }

  .project-illustrations {
    margin-bottom: 20px; }
    .project-illustrations .illustration {
      width: 100%; }

  .additional_illustrations {
    display: block; }
    .additional_illustrations .illustration {
      background-color: rgba(204, 153, 204, 0.5);
      width: 100%; }
      .additional_illustrations .illustration + .illustration {
        margin-top: 20px; }
    .additional_illustrations .actions {
      display: none; }

  .project-details {
    float: left;
    margin-bottom: 20px;
    padding: 0;
    width: 60px; }
    .project-details dl {
      text-align: left; }
    .project-details .actions {
      display: none; }

  .project-description {
    margin-left: 80px;
    margin-bottom: 20px;
    width: auto; }
    .project-description.open {
      left: auto; }
    .project-description .exit {
      display: none; }
    .project-description article {
      padding: 0; }
      .project-description article h4, .project-description article p {
        font-size: 1em;
        line-height: 1.2em; }
      .project-description article p + p,
      .project-description article p + h4 {
        margin-top: 0.6em; } }
.studio {
  position: relative;
  padding: 40px 40px 40px 120px;
  background-color: white; }

.studio-content {
  float: left;
  width: 400px; }

.studio-illustrations {
  margin-left: 440px; }

.studio-people {
  margin-top: 30px;
  margin-left: 440px; }
  .studio-people p {
    font-size: 1em;
    line-height: 1.2em; }
  .studio-people .person > a {
    display: block;
    background-color: #f37321; }
    .studio-people .person > a img {
      opacity: 0.5;
      -webkit-transition: opacity 0.5s;
      -moz-transition: opacity 0.5s;
      -o-transition: opacity 0.5s;
      transition: opacity 0.5s; }
      .studio-people .person > a img:hover {
        opacity: 1; }
  .studio-people .name {
    font-weight: bold; }
    .studio-people .name .degree {
      font-weight: normal; }

@media only screen and (max-width: 480px) {
  .studio {
    padding: 20px; }

  .studio-content {
    float: none;
    width: auto; }

  .studio-illustrations {
    margin: 20px 0 0; }

  .studio-people {
    margin: 20px 0 0; } }
.news {
  position: relative;
  padding: 40px 120px;
  background-color: white; }

.news-content {
  float: left;
  width: 320px; }
  .news-content article {
    padding-bottom: 20px;
    border-bottom: 1px solid #717073; }
  .news-content article + article {
    margin-top: 20px; }

.news-tweets {
  margin-left: 360px;
  width: 170px; }
  .news-tweets h4 {
    margin-bottom: 1.2em; }
  .news-tweets p {
    font-size: 1em;
    line-height: 1.2em; }
  .news-tweets li + li {
    margin-top: 1.2em; }

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .news {
    padding: 40px; } }
@media only screen and (max-width: 480px) {
  .news {
    padding: 20px; }

  .news-content {
    float: none;
    width: 100%; }

  .news-tweets {
    margin-top: 20px;
    margin-left: 0;
    width: 100%; } }
.connect {
  padding: 40px 40px 40px 120px;
  background-color: white; }

.connect-form,
.connect-info,
.connect-map {
  float: left; }

.connect-illustrations {
  clear: left;
  float: right; }

.connect-form {
  margin-right: 40px;
  width: 320px; }
  .connect-form .fields.inline .field {
    width: 155px; }
  .connect-form button {
    width: 155px; }

.connect-info {
  width: 220px;
  margin-right: 20px; }
  .connect-info .contact-address,
  .connect-info .contact-person {
    margin-bottom: 0.8em; }
  .connect-info .contact-person .name {
    font-weight: bold; }
  .connect-info .connect-with-us {
    margin-top: 38px; }
    .connect-info .connect-with-us ul {
      margin-top: 16px;
      height: 40px; }
    .connect-info .connect-with-us li {
      float: left; }
      .connect-info .connect-with-us li + li {
        margin-left: 10px; }
  .connect-info p {
    font-size: 1.4em;
    line-height: 1.14286em; }

.connect-map {
  background-color: red;
  width: 260px;
  height: 350px; }

.connect-illustrations {
  margin-left: 20px;
  width: 500px; }

footer {
  padding: 20px 40px; }
  footer p {
    display: inline-block;
    font-size: 1em;
    line-height: 1.2em; }
  .screen.fixed footer {
    display: none; }

@media only screen and (max-width: 480px) {
  footer {
    padding: 20px; }
    footer p.address {
      display: none; } }
